.content {
    display: block;
    width: 400px;
    height: auto;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}

.wallpaper {
    width: auto;
    height: 100%;
    background-size: 100%;
    opacity: 0.6;
    min-width: 100%;
    display: block;
}

